@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(203 213 225);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.layoutLogo > svg {
  fill: #6653e2;
  /* color: #e9ecf1; */
}
.cardIcon > svg {
  fill: #43454c;
  margin-bottom: 1rem;
}
.cardIconActive > svg {
  fill: #6653e2;
  margin-bottom: 1rem;
}

.checkIcon > svg {
  background-color: #6653e2;
  fill: #fff;
  border-radius: 50%;
  padding: 20px;
}
